body {
    max-width: 1440px;
    /*height: 2560px;*/
    margin: 0 auto; /*margen que le estoy dando a la web completa*/
    padding: 0;
    text-align: center;/*averiguar como centrar texto e imagenes en todos los niveles*/
    /*border-collapse: collapse;*/
    /*margin-top: 0%;*/
}

.nav, .section2, .section3, .section4, .article, .footer {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px;
}

.column1, .column2, .column3, .column4, .column5, .column55, .column6 {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center; /*centra el contenido horizontalmente*/
    align-items: center; /*centra el contenido verticalmente*/
}

.nav, .footer, .column55 {
    background-color: #ded1b9; /* Color de fondo específico */
}

.column1 {
    height: 60px;
}
.column2 {
    height: 450px;
}
.column3 {
    height: 250px;
}
.column4 {
    height: 300px;
}
.column5, .column55 {
    height: 450px;
}
.column6 {
    height: 60px;
}

img {
    max-width: 100%;
    max-height: 100%; /* Altura automática para mantener la proporción */
    /*border-radius: 10px;*/ /* Bordes redondeados */
}
.img [scr="img/img2medidas.png"] {
    width: 50px;
}
