body {
    width: 1080px;
    height: 100hv;
    font-style: italic;
    /*height: 2560px;*/
    margin: 0 auto; /*margen que le estoy dando a la web completa*/
    padding: 0;
    text-align: center;/*averiguar como centrar texto e imagenes en todos los niveles*/
    /*border-collapse: collapse;*/
    /*margin-top: 0%;*/
    border-radius: 10%;
}

.nav, .section2, .section3, .section4, .article, .footer {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px;
    border: none;
}

.column1, .column2, .column3, .column4, .column5, .column55, .column6 {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center; /*centra el contenido horizontalmente*/
    align-items: center; /*centra el contenido verticalmente*/
    border: none;
}

.nav, .footer, .column55 {
    background-color: #efeeea; /* Color de fondo específico */
}

.column1 {
    height: 40px;
}
.column1 h1 {
    font-size: 20px;
    color: #d0ada3;
}
.column2 {
    height: 450px;
    font-weight:normal;
}
.column3 {
    background-color:#efeeea;
    height: 250px;
}
.column3 h2 {
    font-size: 60px;
    font-weight: normal;
}
.column4 {
    height: 300px;
}
.column5 {
    background-color: #806748;
}
.column5, .column55 {
    height: 450px;
    flex-direction: column;
}
.tittle {
    font-size: 2em;
    margin-top: 5%;
}
.text {
    font-size: 1em;
    line-height: 1.5;
    justify-content: center;
    margin: 5%;
}
.column6 {
    height: 60px;
}
img {
    max-width: 100%;
    max-height: 100%; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
}
